extends ../layouts/default

block content
  .row
    .col-md-12
      .col-md-6
        h1 All active giveways
      if user
        .col-md-3.pull-right
          .user-info(data-toggle="tooltip" data-placement="bottom" title="Create giveaways to earn more points")
            span You have #{user.karma || 0}  points


  .row
    .col-md-12
      #items_container.row
        each giveaway in giveaways
          .masonry-item
            .panel.panel-default
              .panel-body
                a(href="/giveaways/#{giveaway._id}" alt="Giveway page")
                  img.img-responsive.img-rounded(src="#{giveaway.image}")
                  h4.text-center= giveaway.title
                hr
                if user
                  .col-md-3.points(data-toggle="tooltip" data-placement="bottom" title="Points you need to have to participate")
                    i.fa.fa-money
                    span= giveaway.points
                  .col-md-3.participants(data-toggle="tooltip" data-placement="bottom" title="Number of participants")
                    i.fa.fa-user
                    span= giveaway.participantsCount()
                  .col-md-6.dealine(data-toggle="tooltip" data-placement="bottom" title="Giveaway deadline")
                    i.fa.fa-calendar
                    span.muted Ends in #{giveaway.humanizedDeadline()}
                else
                  | Log in to see the details
