extends ../layouts/default

block content
  .row
    .col-md-12
      .col-md-6
        h1 All active giveways
      if user
        .col-md-3.pull-right
          .panel.panel-default
            .panel-body
              .user-info(data-toggle="tooltip" data-placement="bottom" title="Create giveaways to earn more points")
                span You have #{user.karma || 0}  points
      .row.col-md-4
        if user && pendingGiveaways
          .col-md-12.pull-right
            .panel.panel-warning
              .panel-heading You have pending giveaways
              .panel-body
                ul.list-unstyled
                  each pending in pendingGiveaways
                    li
                      a(href="/giveaways/#{pending._id}")= pending.title
        if user && wonGiveways
          .col-md-12.pull-right
            .panel.panel-warning
              .panel-heading Congratulations! You have won giveaways
              .panel-body
                ul.list-unstyled
                  each won in wonGiveways
                    li
                      a(href="/giveaways/#{won._id}")= won.title

  .row
    .col-md-12
      #items_container.row
        each giveaway in giveaways
          .masonry-item
            .panel.panel-default
              .panel-body
                a(href="/giveaways/#{giveaway._id}" alt="Giveway page")
                  img.img-responsive.img-rounded(src="#{giveaway.image}")
                  h4.text-center= giveaway.title
                hr
                if user
                  .col-md-3.points(data-toggle="tooltip" data-placement="bottom" title="Points you need to have to participate")
                    i.fa.fa-money
                    span= giveaway.points
                  .col-md-3.participants(data-toggle="tooltip" data-placement="bottom" title="Number of participants")
                    i.fa.fa-user
                    span= giveaway.participantsCount()
                  .col-md-6.dealine(data-toggle="tooltip" data-placement="bottom" title="Giveaway deadline")
                    i.fa.fa-calendar
                    span.muted Ends in #{giveaway.humanizedDeadline()}
                else
                  | Log in to see the details
