extends ../layouts/default

block content
  .row
    .col-md-12
      h1.text-center All active giveways
  .row
    .col-md-12
      #items_container.row
        each giveaway in giveaways
          .masonry-item
            .panel.panel-default
              .panel-heading
                h4= giveaway.title
                  span.badge= giveaway.points
              .panel-body
                img.img-responsive.img-rounded(src="#{giveaway.image}")
                p= giveaway.body
              .panel-footer
                if user
                  span.muted Ends in #{giveaway.humanizedDeadline()}
                else
                  | Log in to see the details
